html,
body {
    min-width: 1440px;
    min-height: 2476px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.main-header {
    font-weight: 500;
    color: #000000;
    background-color: #eeeeee;

    /* Временно для сетки */
    min-height: 545px;
    outline: 2px solid #cae60f;
}

.inner-page .main-header {
    /* Временно для сетки */
    min-height: 355px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;

    /* Временно для сетки */
    outline: 1px solid #2dbe22;
}

.main-navigation {
    display: flex;
    align-items: flex-start;
    line-height: 30px;
    text-transform: uppercase;

    /* Временно для сетки */
    min-height: 114px;
    outline: 1px solid #e90d0d;
}

.inner-page .main-navigation {
    margin-bottom: 75px;
}

.inner-page .header-logo:hover,
.inner-page .header-logo:focus {
    opacity: 0.8;
}

.inner-page .header-logo:active {
    opacity: 0.3;
}

.header-logo {
    width: 160px;
    height: 65px;
    padding: 0;
    padding-top: 49px;

    /* Временно для сетки */
    outline: 1px solid #e90d0d;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 440px;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    margin-left: 200px;
    padding: 0;

  /* Временно для сетки */
    min-height: 114px;
    outline: 1px solid #e90d0d;
}

.site-navigation-item {
    padding-top: 75px;
}

.site-navigation-current {
    padding-top: 75px;
}

.basket-navigation {
    width: 160px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    list-style: none;
    text-align: right;

  /* Временно для сетки */
    min-height: 114px;
    outline: 1px solid #e90d0d;
}

.basket-navigation-item {
    padding-top: 75px;
}

.site-navigation a,
.basket-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
    color: #000000;
    opacity: 0.3;
}

.services-list {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    /* Временно для сетки */
    min-height: 510px;
    outline: 1px solid #e90d0d;
}

.service-item {
    width: 300px;
    text-align: left;
    /* Временно для сетки */
    min-height: 350px;
    outline: 1px solid #e90d0d;
}

.service-item:nth-child(n+2) {
    margin-left: 100px;
}

.service-item h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
}

.button-web {
    background-color: #fb565a;
    padding: 18px 40px;
}

.button-web:hover,
.button-web:focus {
    background-color: #e74246;
}

.button-web:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.button-applications {
    background-color: #00ca74;
    padding: 18px 40px;
}

.button-applications:hover,
.button-applications:focus {
    background-color: #00bc6c;
}

.button-applications:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
}

.button-presentations {
    background-color: #efc84a;
    padding: 18px 40px;
}

.button-presentations:hover,
.button-presentations:focus {
    background-color: #eab534;
}

.button-presentations:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
}

.page-title {
    font-size: 55px;
    text-align: center;
    line-height: 55px;
    outline: 1px solid #e90d0d;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 260px;

  /* Временно для сетки */
    min-height: 780px;
    outline: 1px solid #e90d0d;
}

.filter fieldset {
    border: none;
    }

.filter legend {
    font-size: 18;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.filter ul {
    list-style: none;
    line-height: 20px;
}

.filter-input {
    opacity: 0.4;
}

.filter-input:hover,
.filter-input:focus {
    opacity: 1;
}

.filter-input:disabled {
     opacity: 0.1;
}

.filter-input:disabled + label {
    opacity: 0.3;
}

.button-filter {
    padding: 10px;
    color: #000000;
    background-color: #eeeeee;
}

.button-filter:hover,
.button-filter:focus {
    background-color: #dfdfdf;
}

.button-filter:active {
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}

.catalog {
    width: 760px;

  /* Временно для сетки */
    min-height: 1915px;
    outline: 1px solid #e90d0d;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0;

    /* Временно для сетки */
    outline: 1px solid #e90d0d;
}

.catalog-item {
    width: 360px;

  /* Временно для сетки */
    min-height: 615px;
    margin-bottom: 33px;
    outline: 1px solid #465ec4;
}

.catalog-item:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item-image {
    padding: 0;
    margin: 0;
}

.catalog-item-block {
    width: 360px;
    padding: 0;
    margin: 0;

  /* Временно для сетки */
    min-height: 230px;
    outline: 1px solid #0cf2da;

    background-color: #eeeeee;
    text-align: center;
    vertical-align: middle;
}

.catalog-item-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
}

.button-catalog {
    background-color: #fb565a;
}

.button-catalog:hover,
.button-catalog:focus {
    background-color: #e74246;
}

.button-catalog:active {
    background-color: #d7373b;
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    color: #000000;
    background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: #dfdfdf;
}

.pagination-item a:active {
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}
.pagination-item-current a {
    color: #000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    box-shadow: none;
    color: #000000;

    background-color: #ffffff;
}

.footer-text {
    line-height: 22px;
    color: #444444;

}
.social-slogan {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.footer-social {
    list-style: none;
}

.social-button {
    color: #ffffff;
    background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}

.social-button:active {
    color: #e37376;
    background-color: #d7373b;
}

.main-footer {
    /* Временно для сетки */
    min-height: 220px;
    outline: 1px solid #e90d0d;
}

.main-footer .container {
    display: flex;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 260px;
    padding: 0;
    margin: 0;
    margin-right: 140px;

    /* Временно для сетки */
    min-height: 220px;
    outline: 1px solid #e90d0d;
}

.footer-text {
    width: 560px;

    /* Временно для сетки */
    min-height: 100px;
    outline: 1px solid #e90d0d;
}
